<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="firstpage.css">
</head>
<body>
<form action="/firstpage/1" method="post">
    <div id="header">Welcome to a swift creditworthiness' check.</div>
    <div class="subheader">Please, provide all the required data below and push the button below to see the result.
    </div>
    <input type="text" name="incomeParameter" placeholder="Your monthly income">
    <input type="text" name="contractParameter" placeholder="Kind of contract">
    <input type="text" name="ageParameter" placeholder="Your age">
    <input type="submit" value="Calculate">
</form>

<form action="/firstpage/2" method="post">
    <input type="text" name="param">
    <input type="submit" value="OK">
</form>

<!--th:block th:each="">
    <div>Treść</div>
    <div>foto</div>
    <form action="/comment/${id}" method="post">

    </form>
</th:block-->

<div class="questions">In case of any questions, please proceed here:</div>
</body>
</html>